<!-- templates/accueil.html -->
{% load static %}
<html>

<head>
  <title>RecommendAI | Accueil</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/general.css' %}" />
  <link rel="stylesheet" href="{% static 'css/accueil.css' %}" />
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css" />
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body class="text-center">
  {% block content %}
  <div class="toast align-items-center text-white bg-danger mr-4 mt-3" id="toastSendOK" data-autohide="false"
    role="alert" aria-live="assertive" aria-atomic="true" style="
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin-right: 15px;
      ">
    <div class="d-flex">
      <div class="toast-body"></div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
  <div class="container">
    <!-- container p-3 mx-auto flex-column -->
    <div class=" masthead mb-auto">
      <div class="inner">
        <br>
        <a href="{% url 'accueil' %}">
          <img src="{% static 'img/img.png' %}" height="128"/>
        </a>
        <nav class="nav nav-masthead justify-content-center" style="margin-top: 20px">
          <a class="nav-link active" href="{% url 'accueil' %}">Accueil</a>
          <a class="nav-link" href="{% url 'logout' %}">Deconnexion</a>
        </nav>
      </div>
      <br />
    </div>

    {% if status == 0 %}
    <form method="POST" action="{% url 'dataset' %}">
      {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          Télécharger le dataset
        </button>
    </form>
    <br>
    <i class="fontsize">Cette action prend environ 5 minutes en fonction de votre connexion internet.</i>

    {% else %}


    <div class="container dimension">
      <img src="{{ url_image }}" class="imagee" />
    </div>

    <form method="POST">
      {% csrf_token %}
      <br />
      Appuyer sur le bouton j'aime si l'image qui s'affiche représente ce que vous aimez.
      <br>
      Sinon, faites défiler la liste en appuyant sur le bouton Image suivante.
      <br />
      <br />
      <button type="submit" name="like" class="btn btn-secondary" value="0">
        Image suivante
      </button>
      <button type="submit" name="like" class="btn btn-success" value="1">
        J'aime
      </button>
    </form>
    {% endif %}


    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>
          RecommendAI - Hugo BOURGET, Maxime BENUCCI, Vincent
          CADORET.
        </p>
      </div>
    </footer>
    {% endblock content %}
  </div>

</body>

</html>